.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 289px;
    height: 70px;
    border-radius: 50px;
    background: #FBB24A;
    box-shadow: 0 2px 4px #B4A899;
    font-family: 'Raleway', serif;
    color: #333333;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.button:hover {
    background: #FFD8A1;
    cursor: pointer;
}
